@model Restaurant.Web.Models.Restaurant

@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Search", "Restaurant", FormMethod.Post))
{
    <div class="jumbotron">
        <center><h1>Welcome to Restaurant Reviews</h1></center>
        <p class="lead">Start by using the search bar to search for a restaurant or navigate to a different page.</p>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.TextBox("Search", null, new { htmlAttributes = new { @class = "form-control", name = "Search" } })
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <h2>All Restaurants</h2>
        <p>
            Show all of the restaurants in the database.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Go Now", "DisplayAll", "Restaurant")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Top Three</h2>
        <p>Display the top three restaurants based on ratings.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Go Now", "TopThree", "Restaurant")</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>